/* Visually hide the skip link */ 
header > a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  /* Reaveal the skip link */
  header > a:focus {
    position: static;
    width: auto;
    height: auto;
    color: #f9fafa;
    background-color: #000000;
  }
.mycolors:hover{
  background:#53a7ea !important;
}
  
h1{
    text-align: center;
}
h2{
    text-align: center;
    word-break: break-all;
}
a {
    text-decoration: none;
    display: block;
    text-align: center;
}
